body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    color: black;*
    margin: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}
.menu {
    list-style: none;
    display: flex;
}
.esp {
    margin: 0 15px;
}
a {
    text-decoration: none;
    color: black;
}
section {
    padding: 2rem 0;
    border-top: 1px;
}
input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px;
}
input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
}
input[type="acceuil"]:hover {
    background-color: rgb(153, 12, 209);
    transition: 0.3s;
}

input[type="acceuil"] {
    background-color: black;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
}
body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

body.dark-mode .container {
  background-color: #34495e;
}

body.dark-mode a {
  color: #3498db;
}
